[diff-0.005]
Processor = 1
DiffThresh = 0.005

[diff-0.010]
Processor = 1
DiffThresh = 0.010

[diff-0.015]
Processor = 1
DiffThresh = 0.015

[diff-0.020]
Processor = 1
DiffThresh = 0.020

[diff-0.025]
Processor = 1
DiffThresh = 0.025

[diff-0.030]
Processor = 1
DiffThresh = 0.030

[diff_pix-0.005-2]
Processor = 2
DiffThresh = 0.005
PixelThresh = 2

[diff_pix-0.005-5]
Processor = 2
DiffThresh = 0.005
PixelThresh = 5

[diff_pix-0.005-10]
Processor = 2
DiffThresh = 0.005
PixelThresh = 10

[diff_pix-0.005-15]
Processor = 2
DiffThresh = 0.005
PixelThresh = 15

[diff_pix-0.01-2]
Processor = 2
DiffThresh = 0.01
PixelThresh = 2

[diff_pix-0.010-5]
Processor = 2
DiffThresh = 0.010
PixelThresh = 5

[diff_pix-0.010-10]
Processor = 2
DiffThresh = 0.010
PixelThresh = 10

[diff_pix-0.010-15]
Processor = 2
DiffThresh = 0.010
PixelThresh = 15

[diff_pix-0.02-2]
Processor = 2
DiffThresh = 0.02
PixelThresh = 2

[diff_pix-0.020-5]
Processor = 2
DiffThresh = 0.020
PixelThresh = 5

[diff_pix-0.020-10]
Processor = 2
DiffThresh = 0.020
PixelThresh = 10

[diff_pix-0.020-15]
Processor = 2
DiffThresh = 0.020
PixelThresh = 15

[diff_pix-0.03-2]
Processor = 2
DiffThresh = 0.03
PixelThresh = 2

[diff_pix-0.030-5]
Processor = 2
DiffThresh = 0.030
PixelThresh = 5

[diff_pix-0.030-10]
Processor = 2
DiffThresh = 0.030
PixelThresh = 10

[diff_pix-0.030-15]
Processor = 2
DiffThresh = 0.030
PixelThresh = 15

[histogram-2]
Processor = 3
ChiSquareThresh = 2

[histogram-3]
Processor = 3
ChiSquareThresh = 3

[histogram-5]
Processor = 3
ChiSquareThresh = 5

[histogram-10]
Processor = 3
ChiSquareThresh = 10

[edge_diff-20-30-0.005]
Processor = 4
DiffThresh = 0.005
MinVal = 20
MaxVal = 30

[edge_diff-60-120-0.005]
Processor = 4
DiffThresh = 0.005
MinVal = 60
MaxVal = 120

[edge_diff-20-30-0.01]
Processor = 4
DiffThresh = 0.01
MinVal = 20
MaxVal = 30

[edge_diff-60-120-0.01]
Processor = 4
DiffThresh = 0.01
MinVal = 60
MaxVal = 120

[min_motion_area-0.0002]
Processor = 5
MinArea = 0.0002

[min_motion_area-0.0005]
Processor = 5
MinArea = 0.0005

[min_motion_area-0.0009]
Processor = 5
MinArea = 0.0009